@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#canvas {
  position: fixed;
  background-color: #2C3E50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Asegúrate de que el lienzo esté detrás de otros elementos */
}

.shadow-neon {
  box-shadow: 0 0 10px purple-600, 0 0 40px purple-600, 0 0 80px purple-600;
}

