.box {
    position: relative;
    background: #2C3E50;
    border-radius: 8px;
    overflow: hidden;
    box-sizing: border-box;
  }
  
  .box::before,
  .box::after {
    content: '';
    position: absolute;
    width: 90px;
    height: 30px;
    background: linear-gradient(0deg, transparent, transparent, #DA6BE3, #DA6BE3, #DA6BE3);
    z-index: 1;
    transform-origin: bottom right;
    filter: blur(10px);
  }
  
  .box::before {
    animation: animate 6s linear infinite;
    
  }
  
  .box::after {
    animation: animate 6s linear infinite;
    animation-delay: -3s;
  }
  
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .box div {
    position: absolute;
    inset: 2px;
    background: #455A74;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
  }
  
  